@namespace MudBlazor
@inherits MudComponentBase
@typeparam T


<div class="@Classname" style="@Style"
     id="@($"mud-drop-zone-{_id}")"
	 @ondrop="HandleDrop"
	 @ondragenter="HandleDragEnter"
	 @ondragleave="HandleDragLeave"
	 @attributes="UserAttributes">

	@ChildContent

	@{
		bool first = true;
	}
	@foreach (var item in GetItems())
	{
		@if(first)
		{
			first = false;
			<div style="background-color:blue; height:10px;"
				 @ondrop="(()=>HandleDropBefore(item))" />
		}
		<MudDynamicDropItem @key="@(item.GetHashCode())" T="T" DraggingClass="@GetItemDraggingClass()"
						Item="item"
						OnDragStarted="DragOperationStarted"
						OnDragEnded="FinishedDragOperation"
						ZoneIdentifier="@Identifier"
						Disabled="@GetItemDisabledStatus(item)"
						DisabledClass="@(DisabledClass ?? Container?.DisabledClass)">
			@{
				var renderer = GetItemTemplate();
			}

			@renderer(item)

		</MudDynamicDropItem>
		<div style="background-color:blue; height:10px;"
			 @ondrop="(()=>HandleDropAfter(item))" />
	}
</div>